XFMIS/XFMIS/MISClient/MISClient/Web References/Service_FinanceManagement/FinanceManagement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="create_TabPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="payment" type="tns:TabPayment" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TabPayment">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PYID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PYSubProjectID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PYDateTIme" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="PYWorkOrder" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PYBilling" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PYPayment" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="PYPayCompany" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PYMemo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="create_TabPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="create_TabPaymentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delete_TabPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delete_TabPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="delete_TabPaymentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="select_TabPayment_BySubID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="subId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="select_TabPayment_BySubIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="select_TabPayment_BySubIDResult" type="tns:ArrayOfTabPayment" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTabPayment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TabPayment" nillable="true" type="tns:TabPayment" />
        </s:sequence>
      </s:complexType>
      <s:element name="update_TabPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="payment" type="tns:TabPayment" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="update_TabPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="update_TabPaymentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="create_CostAndReimburse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="costAndReimburse" type="tns:TabCostAndReimburse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TabCostAndReimburse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CRID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CRSubProjectID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CRDateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CRWorkOrder" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CRAmount" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CRManagerialFee" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CRBackAmount" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CRBillingUnit" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CRMemo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="create_CostAndReimburseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="create_CostAndReimburseResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delete_TabCostAndReimburse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delete_TabCostAndReimburseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="delete_TabCostAndReimburseResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="select_TabCostAndReimburse_BySubID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="subId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="select_TabCostAndReimburse_BySubIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="select_TabCostAndReimburse_BySubIDResult" type="tns:ArrayOfTabCostAndReimburse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTabCostAndReimburse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TabCostAndReimburse" nillable="true" type="tns:TabCostAndReimburse" />
        </s:sequence>
      </s:complexType>
      <s:element name="update_TabCostAndReimburse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="costAndReimburse" type="tns:TabCostAndReimburse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="update_TabCostAndReimburseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="update_TabCostAndReimburseResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="create_TabBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="balance" type="tns:TabBalance" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TabBalance">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BLID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BLSubProjectID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BLDateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="BLWorkOrder" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BLPay" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="BLPayCompany" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BLHandler" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BLBankNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BLMemo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="create_TabBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="create_TabBalanceResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delete_TabBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delete_TabBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="delete_TabBalanceResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="select_TabBalance_BySubID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="subId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="select_TabBalance_BySubIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="select_TabBalance_BySubIDResult" type="tns:ArrayOfTabBalance" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTabBalance">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TabBalance" nillable="true" type="tns:TabBalance" />
        </s:sequence>
      </s:complexType>
      <s:element name="update_TabBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="balance" type="tns:TabBalance" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="update_TabBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="update_TabBalanceResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="create_TabLoanRepay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loanRepay" type="tns:TabLoanRepay" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TabLoanRepay">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LRID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LRSubProjectID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LRDateTime" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="LRWorkOrder" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LRLoan" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="LRRepay" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="LRHandler" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LRPerson" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LRBankNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LRMemo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="create_TabLoanRepayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="create_TabLoanRepayResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delete_TabLoanRepay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delete_TabLoanRepayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="delete_TabLoanRepayResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="select_TabLoanRepay_BySubID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="subId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="select_TabLoanRepay_BySubIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="select_TabLoanRepay_BySubIDResult" type="tns:ArrayOfTabLoanRepay" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTabLoanRepay">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TabLoanRepay" nillable="true" type="tns:TabLoanRepay" />
        </s:sequence>
      </s:complexType>
      <s:element name="update_TabLoanRepay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loanRepay" type="tns:TabLoanRepay" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="update_TabLoanRepayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="update_TabLoanRepayResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="create_TabPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:create_TabPayment" />
  </wsdl:message>
  <wsdl:message name="create_TabPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:create_TabPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="delete_TabPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:delete_TabPayment" />
  </wsdl:message>
  <wsdl:message name="delete_TabPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:delete_TabPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="select_TabPayment_BySubIDSoapIn">
    <wsdl:part name="parameters" element="tns:select_TabPayment_BySubID" />
  </wsdl:message>
  <wsdl:message name="select_TabPayment_BySubIDSoapOut">
    <wsdl:part name="parameters" element="tns:select_TabPayment_BySubIDResponse" />
  </wsdl:message>
  <wsdl:message name="update_TabPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:update_TabPayment" />
  </wsdl:message>
  <wsdl:message name="update_TabPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:update_TabPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="create_CostAndReimburseSoapIn">
    <wsdl:part name="parameters" element="tns:create_CostAndReimburse" />
  </wsdl:message>
  <wsdl:message name="create_CostAndReimburseSoapOut">
    <wsdl:part name="parameters" element="tns:create_CostAndReimburseResponse" />
  </wsdl:message>
  <wsdl:message name="delete_TabCostAndReimburseSoapIn">
    <wsdl:part name="parameters" element="tns:delete_TabCostAndReimburse" />
  </wsdl:message>
  <wsdl:message name="delete_TabCostAndReimburseSoapOut">
    <wsdl:part name="parameters" element="tns:delete_TabCostAndReimburseResponse" />
  </wsdl:message>
  <wsdl:message name="select_TabCostAndReimburse_BySubIDSoapIn">
    <wsdl:part name="parameters" element="tns:select_TabCostAndReimburse_BySubID" />
  </wsdl:message>
  <wsdl:message name="select_TabCostAndReimburse_BySubIDSoapOut">
    <wsdl:part name="parameters" element="tns:select_TabCostAndReimburse_BySubIDResponse" />
  </wsdl:message>
  <wsdl:message name="update_TabCostAndReimburseSoapIn">
    <wsdl:part name="parameters" element="tns:update_TabCostAndReimburse" />
  </wsdl:message>
  <wsdl:message name="update_TabCostAndReimburseSoapOut">
    <wsdl:part name="parameters" element="tns:update_TabCostAndReimburseResponse" />
  </wsdl:message>
  <wsdl:message name="create_TabBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:create_TabBalance" />
  </wsdl:message>
  <wsdl:message name="create_TabBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:create_TabBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="delete_TabBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:delete_TabBalance" />
  </wsdl:message>
  <wsdl:message name="delete_TabBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:delete_TabBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="select_TabBalance_BySubIDSoapIn">
    <wsdl:part name="parameters" element="tns:select_TabBalance_BySubID" />
  </wsdl:message>
  <wsdl:message name="select_TabBalance_BySubIDSoapOut">
    <wsdl:part name="parameters" element="tns:select_TabBalance_BySubIDResponse" />
  </wsdl:message>
  <wsdl:message name="update_TabBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:update_TabBalance" />
  </wsdl:message>
  <wsdl:message name="update_TabBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:update_TabBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="create_TabLoanRepaySoapIn">
    <wsdl:part name="parameters" element="tns:create_TabLoanRepay" />
  </wsdl:message>
  <wsdl:message name="create_TabLoanRepaySoapOut">
    <wsdl:part name="parameters" element="tns:create_TabLoanRepayResponse" />
  </wsdl:message>
  <wsdl:message name="delete_TabLoanRepaySoapIn">
    <wsdl:part name="parameters" element="tns:delete_TabLoanRepay" />
  </wsdl:message>
  <wsdl:message name="delete_TabLoanRepaySoapOut">
    <wsdl:part name="parameters" element="tns:delete_TabLoanRepayResponse" />
  </wsdl:message>
  <wsdl:message name="select_TabLoanRepay_BySubIDSoapIn">
    <wsdl:part name="parameters" element="tns:select_TabLoanRepay_BySubID" />
  </wsdl:message>
  <wsdl:message name="select_TabLoanRepay_BySubIDSoapOut">
    <wsdl:part name="parameters" element="tns:select_TabLoanRepay_BySubIDResponse" />
  </wsdl:message>
  <wsdl:message name="update_TabLoanRepaySoapIn">
    <wsdl:part name="parameters" element="tns:update_TabLoanRepay" />
  </wsdl:message>
  <wsdl:message name="update_TabLoanRepaySoapOut">
    <wsdl:part name="parameters" element="tns:update_TabLoanRepayResponse" />
  </wsdl:message>
  <wsdl:portType name="FinanceManagementSoap">
    <wsdl:operation name="create_TabPayment">
      <wsdl:input message="tns:create_TabPaymentSoapIn" />
      <wsdl:output message="tns:create_TabPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delete_TabPayment">
      <wsdl:input message="tns:delete_TabPaymentSoapIn" />
      <wsdl:output message="tns:delete_TabPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="select_TabPayment_BySubID">
      <wsdl:input message="tns:select_TabPayment_BySubIDSoapIn" />
      <wsdl:output message="tns:select_TabPayment_BySubIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="update_TabPayment">
      <wsdl:input message="tns:update_TabPaymentSoapIn" />
      <wsdl:output message="tns:update_TabPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="create_CostAndReimburse">
      <wsdl:input message="tns:create_CostAndReimburseSoapIn" />
      <wsdl:output message="tns:create_CostAndReimburseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delete_TabCostAndReimburse">
      <wsdl:input message="tns:delete_TabCostAndReimburseSoapIn" />
      <wsdl:output message="tns:delete_TabCostAndReimburseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="select_TabCostAndReimburse_BySubID">
      <wsdl:input message="tns:select_TabCostAndReimburse_BySubIDSoapIn" />
      <wsdl:output message="tns:select_TabCostAndReimburse_BySubIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="update_TabCostAndReimburse">
      <wsdl:input message="tns:update_TabCostAndReimburseSoapIn" />
      <wsdl:output message="tns:update_TabCostAndReimburseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="create_TabBalance">
      <wsdl:input message="tns:create_TabBalanceSoapIn" />
      <wsdl:output message="tns:create_TabBalanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delete_TabBalance">
      <wsdl:input message="tns:delete_TabBalanceSoapIn" />
      <wsdl:output message="tns:delete_TabBalanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="select_TabBalance_BySubID">
      <wsdl:input message="tns:select_TabBalance_BySubIDSoapIn" />
      <wsdl:output message="tns:select_TabBalance_BySubIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="update_TabBalance">
      <wsdl:input message="tns:update_TabBalanceSoapIn" />
      <wsdl:output message="tns:update_TabBalanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="create_TabLoanRepay">
      <wsdl:input message="tns:create_TabLoanRepaySoapIn" />
      <wsdl:output message="tns:create_TabLoanRepaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delete_TabLoanRepay">
      <wsdl:input message="tns:delete_TabLoanRepaySoapIn" />
      <wsdl:output message="tns:delete_TabLoanRepaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="select_TabLoanRepay_BySubID">
      <wsdl:input message="tns:select_TabLoanRepay_BySubIDSoapIn" />
      <wsdl:output message="tns:select_TabLoanRepay_BySubIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="update_TabLoanRepay">
      <wsdl:input message="tns:update_TabLoanRepaySoapIn" />
      <wsdl:output message="tns:update_TabLoanRepaySoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="FinanceManagementSoap" type="tns:FinanceManagementSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="create_TabPayment">
      <soap:operation soapAction="http://tempuri.org/create_TabPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_TabPayment">
      <soap:operation soapAction="http://tempuri.org/delete_TabPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select_TabPayment_BySubID">
      <soap:operation soapAction="http://tempuri.org/select_TabPayment_BySubID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_TabPayment">
      <soap:operation soapAction="http://tempuri.org/update_TabPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create_CostAndReimburse">
      <soap:operation soapAction="http://tempuri.org/create_CostAndReimburse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_TabCostAndReimburse">
      <soap:operation soapAction="http://tempuri.org/delete_TabCostAndReimburse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select_TabCostAndReimburse_BySubID">
      <soap:operation soapAction="http://tempuri.org/select_TabCostAndReimburse_BySubID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_TabCostAndReimburse">
      <soap:operation soapAction="http://tempuri.org/update_TabCostAndReimburse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create_TabBalance">
      <soap:operation soapAction="http://tempuri.org/create_TabBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_TabBalance">
      <soap:operation soapAction="http://tempuri.org/delete_TabBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select_TabBalance_BySubID">
      <soap:operation soapAction="http://tempuri.org/select_TabBalance_BySubID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_TabBalance">
      <soap:operation soapAction="http://tempuri.org/update_TabBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create_TabLoanRepay">
      <soap:operation soapAction="http://tempuri.org/create_TabLoanRepay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_TabLoanRepay">
      <soap:operation soapAction="http://tempuri.org/delete_TabLoanRepay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select_TabLoanRepay_BySubID">
      <soap:operation soapAction="http://tempuri.org/select_TabLoanRepay_BySubID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_TabLoanRepay">
      <soap:operation soapAction="http://tempuri.org/update_TabLoanRepay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="FinanceManagementSoap12" type="tns:FinanceManagementSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="create_TabPayment">
      <soap12:operation soapAction="http://tempuri.org/create_TabPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_TabPayment">
      <soap12:operation soapAction="http://tempuri.org/delete_TabPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select_TabPayment_BySubID">
      <soap12:operation soapAction="http://tempuri.org/select_TabPayment_BySubID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_TabPayment">
      <soap12:operation soapAction="http://tempuri.org/update_TabPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create_CostAndReimburse">
      <soap12:operation soapAction="http://tempuri.org/create_CostAndReimburse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_TabCostAndReimburse">
      <soap12:operation soapAction="http://tempuri.org/delete_TabCostAndReimburse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select_TabCostAndReimburse_BySubID">
      <soap12:operation soapAction="http://tempuri.org/select_TabCostAndReimburse_BySubID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_TabCostAndReimburse">
      <soap12:operation soapAction="http://tempuri.org/update_TabCostAndReimburse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create_TabBalance">
      <soap12:operation soapAction="http://tempuri.org/create_TabBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_TabBalance">
      <soap12:operation soapAction="http://tempuri.org/delete_TabBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select_TabBalance_BySubID">
      <soap12:operation soapAction="http://tempuri.org/select_TabBalance_BySubID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_TabBalance">
      <soap12:operation soapAction="http://tempuri.org/update_TabBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create_TabLoanRepay">
      <soap12:operation soapAction="http://tempuri.org/create_TabLoanRepay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_TabLoanRepay">
      <soap12:operation soapAction="http://tempuri.org/delete_TabLoanRepay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select_TabLoanRepay_BySubID">
      <soap12:operation soapAction="http://tempuri.org/select_TabLoanRepay_BySubID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_TabLoanRepay">
      <soap12:operation soapAction="http://tempuri.org/update_TabLoanRepay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="FinanceManagement">
    <wsdl:port name="FinanceManagementSoap" binding="tns:FinanceManagementSoap">
      <soap:address location="http://localhost:48841/Service/FinanceManagement/FinanceManagement.asmx" />
    </wsdl:port>
    <wsdl:port name="FinanceManagementSoap12" binding="tns:FinanceManagementSoap12">
      <soap12:address location="http://localhost:48841/Service/FinanceManagement/FinanceManagement.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>