XFMIS/XFMIS/MISClient/MISClient/Web References/Service_FinanceManagement/Service_FinanceManagement.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="create_TabPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="payment" type="tns:TabPayment" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TabPayment">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="PYID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PYPID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="PYDateTIme" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="PYWorkOrder" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PYBilling" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="PYPayment" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="PYPayCompany" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="PYMemo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="PYFlag" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="create_TabPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="create_TabPaymentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delete_TabPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delete_TabPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="delete_TabPaymentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="select_TabPayment_ByPID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="select_TabPayment_ByPIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="select_TabPayment_ByPIDResult" type="tns:ArrayOfTabPayment" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTabPayment">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TabPayment" nillable="true" type="tns:TabPayment" />
        </s:sequence>
      </s:complexType>
      <s:element name="update_TabPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="payment" type="tns:TabPayment" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="update_TabPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="update_TabPaymentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="select_TabPayment">
        <s:complexType />
      </s:element>
      <s:element name="select_TabPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="select_TabPaymentResult" type="tns:ArrayOfTabPayment" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="count_TabPayment">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="subID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="count_TabPaymentResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="count_TabPaymentResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="create_CostAndReimburse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="costAndReimburse" type="tns:TabCostAndReimburse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TabCostAndReimburse">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="CRID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CRPID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="CRDateTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="CRWorkOrder" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CRAmount" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CRManagerialFee" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="CRBackAmount" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="CRPerson" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CRHandler" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="CRMemo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="CRFlag" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="create_CostAndReimburseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="create_CostAndReimburseResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delete_TabCostAndReimburse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delete_TabCostAndReimburseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="delete_TabCostAndReimburseResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="select_TabCostAndReimburse_ByPID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="Id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="select_TabCostAndReimburse_ByPIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="select_TabCostAndReimburse_ByPIDResult" type="tns:ArrayOfTabCostAndReimburse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTabCostAndReimburse">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TabCostAndReimburse" nillable="true" type="tns:TabCostAndReimburse" />
        </s:sequence>
      </s:complexType>
      <s:element name="update_TabCostAndReimburse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="costAndReimburse" type="tns:TabCostAndReimburse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="update_TabCostAndReimburseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="update_TabCostAndReimburseResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="select_TabCostAndReimburse">
        <s:complexType />
      </s:element>
      <s:element name="select_TabCostAndReimburseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="select_TabCostAndReimburseResult" type="tns:ArrayOfTabCostAndReimburse" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="count_TabCostAndReimburse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="subID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="count_TabCostAndReimburseResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="count_TabCostAndReimburseResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="create_TabBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="balance" type="tns:TabBalance" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TabBalance">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="BLID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BLSubProjectID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="BLDateTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="BLWorkOrder" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="BLPay" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="BLPayCompany" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BLHandler" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BLBankNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="BLMemo" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="create_TabBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="create_TabBalanceResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delete_TabBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delete_TabBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="delete_TabBalanceResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="select_TabBalance_BySubID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="subId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="select_TabBalance_BySubIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="select_TabBalance_BySubIDResult" type="tns:ArrayOfTabBalance" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTabBalance">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TabBalance" nillable="true" type="tns:TabBalance" />
        </s:sequence>
      </s:complexType>
      <s:element name="update_TabBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="balance" type="tns:TabBalance" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="update_TabBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="update_TabBalanceResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="select_TabBalance">
        <s:complexType />
      </s:element>
      <s:element name="select_TabBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="select_TabBalanceResult" type="tns:ArrayOfTabBalance" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="count_TabBalance">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="subID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="count_TabBalanceResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="count_TabBalanceResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="create_TabLoanRepay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loanRepay" type="tns:TabLoanRepay" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TabLoanRepay">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LRID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LRSubProjectID" nillable="true" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="LRDateTime" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="LRWorkOrder" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LRLoan" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="LRRepay" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="LRHandler" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LRPerson" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LRBankNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="LRMemo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="LRFlag" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="create_TabLoanRepayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="create_TabLoanRepayResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delete_TabLoanRepay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delete_TabLoanRepayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="delete_TabLoanRepayResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="select_TabLoanRepay_BySubID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="subId" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="select_TabLoanRepay_BySubIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="select_TabLoanRepay_BySubIDResult" type="tns:ArrayOfTabLoanRepay" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTabLoanRepay">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TabLoanRepay" nillable="true" type="tns:TabLoanRepay" />
        </s:sequence>
      </s:complexType>
      <s:element name="update_TabLoanRepay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="loanRepay" type="tns:TabLoanRepay" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="update_TabLoanRepayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="update_TabLoanRepayResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="select_TabLoanRepay">
        <s:complexType />
      </s:element>
      <s:element name="select_TabLoanRepayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="select_TabLoanRepayResult" type="tns:ArrayOfTabLoanRepay" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="count_TabLoanRepay">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="subID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="count_TabLoanRepayResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="count_TabLoanRepayResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="create_MoneyPool">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="pool" type="tns:TabMoneyPool" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="TabMoneyPool">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="MPID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="MPMoney" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="MPHandler" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MPDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="0" maxOccurs="1" name="MPMemo" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="MPFlag" nillable="true" type="s:int" />
        </s:sequence>
      </s:complexType>
      <s:element name="create_MoneyPoolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="create_MoneyPoolResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delete_MoneyPool">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="delete_MoneyPoolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="delete_MoneyPoolResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="select_MoneyPool">
        <s:complexType />
      </s:element>
      <s:element name="select_MoneyPoolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="select_MoneyPoolResult" type="tns:ArrayOfTabMoneyPool" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTabMoneyPool">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TabMoneyPool" nillable="true" type="tns:TabMoneyPool" />
        </s:sequence>
      </s:complexType>
      <s:element name="update_MoneyPool">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="storage" type="tns:TabMoneyPool" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="update_MoneyPoolResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="update_MoneyPoolResult" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="select_SubID_BySubNO">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="subNO" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="select_SubID_BySubNOResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="select_SubID_BySubNOResult" type="tns:ArrayOfTabSubProjectInfo" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfTabSubProjectInfo">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TabSubProjectInfo" nillable="true" type="tns:TabSubProjectInfo" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="TabSubProjectInfo">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="SPID" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="SPProjectID" type="s:int" />
          <s:element minOccurs="0" maxOccurs="1" name="SPNO" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SPName" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SPState" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="SPDate" nillable="true" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="SPContractAmount" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SPAuditors" nillable="true" type="s:decimal" />
          <s:element minOccurs="1" maxOccurs="1" name="SPRatio" nillable="true" type="s:decimal" />
          <s:element minOccurs="0" maxOccurs="1" name="SPManager" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="SPTel" type="s:string" />
        </s:sequence>
      </s:complexType>
      <s:element name="get_Deal_Money_ByProjectIDAndCompanyID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="companyID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="projectID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="mainOrSubProject" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="get_Deal_Money_ByProjectIDAndCompanyIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="get_Deal_Money_ByProjectIDAndCompanyIDResult" type="s:decimal" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="create_TabPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:create_TabPayment" />
  </wsdl:message>
  <wsdl:message name="create_TabPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:create_TabPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="delete_TabPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:delete_TabPayment" />
  </wsdl:message>
  <wsdl:message name="delete_TabPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:delete_TabPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="select_TabPayment_ByPIDSoapIn">
    <wsdl:part name="parameters" element="tns:select_TabPayment_ByPID" />
  </wsdl:message>
  <wsdl:message name="select_TabPayment_ByPIDSoapOut">
    <wsdl:part name="parameters" element="tns:select_TabPayment_ByPIDResponse" />
  </wsdl:message>
  <wsdl:message name="update_TabPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:update_TabPayment" />
  </wsdl:message>
  <wsdl:message name="update_TabPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:update_TabPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="select_TabPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:select_TabPayment" />
  </wsdl:message>
  <wsdl:message name="select_TabPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:select_TabPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="count_TabPaymentSoapIn">
    <wsdl:part name="parameters" element="tns:count_TabPayment" />
  </wsdl:message>
  <wsdl:message name="count_TabPaymentSoapOut">
    <wsdl:part name="parameters" element="tns:count_TabPaymentResponse" />
  </wsdl:message>
  <wsdl:message name="create_CostAndReimburseSoapIn">
    <wsdl:part name="parameters" element="tns:create_CostAndReimburse" />
  </wsdl:message>
  <wsdl:message name="create_CostAndReimburseSoapOut">
    <wsdl:part name="parameters" element="tns:create_CostAndReimburseResponse" />
  </wsdl:message>
  <wsdl:message name="delete_TabCostAndReimburseSoapIn">
    <wsdl:part name="parameters" element="tns:delete_TabCostAndReimburse" />
  </wsdl:message>
  <wsdl:message name="delete_TabCostAndReimburseSoapOut">
    <wsdl:part name="parameters" element="tns:delete_TabCostAndReimburseResponse" />
  </wsdl:message>
  <wsdl:message name="select_TabCostAndReimburse_ByPIDSoapIn">
    <wsdl:part name="parameters" element="tns:select_TabCostAndReimburse_ByPID" />
  </wsdl:message>
  <wsdl:message name="select_TabCostAndReimburse_ByPIDSoapOut">
    <wsdl:part name="parameters" element="tns:select_TabCostAndReimburse_ByPIDResponse" />
  </wsdl:message>
  <wsdl:message name="update_TabCostAndReimburseSoapIn">
    <wsdl:part name="parameters" element="tns:update_TabCostAndReimburse" />
  </wsdl:message>
  <wsdl:message name="update_TabCostAndReimburseSoapOut">
    <wsdl:part name="parameters" element="tns:update_TabCostAndReimburseResponse" />
  </wsdl:message>
  <wsdl:message name="select_TabCostAndReimburseSoapIn">
    <wsdl:part name="parameters" element="tns:select_TabCostAndReimburse" />
  </wsdl:message>
  <wsdl:message name="select_TabCostAndReimburseSoapOut">
    <wsdl:part name="parameters" element="tns:select_TabCostAndReimburseResponse" />
  </wsdl:message>
  <wsdl:message name="count_TabCostAndReimburseSoapIn">
    <wsdl:part name="parameters" element="tns:count_TabCostAndReimburse" />
  </wsdl:message>
  <wsdl:message name="count_TabCostAndReimburseSoapOut">
    <wsdl:part name="parameters" element="tns:count_TabCostAndReimburseResponse" />
  </wsdl:message>
  <wsdl:message name="create_TabBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:create_TabBalance" />
  </wsdl:message>
  <wsdl:message name="create_TabBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:create_TabBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="delete_TabBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:delete_TabBalance" />
  </wsdl:message>
  <wsdl:message name="delete_TabBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:delete_TabBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="select_TabBalance_BySubIDSoapIn">
    <wsdl:part name="parameters" element="tns:select_TabBalance_BySubID" />
  </wsdl:message>
  <wsdl:message name="select_TabBalance_BySubIDSoapOut">
    <wsdl:part name="parameters" element="tns:select_TabBalance_BySubIDResponse" />
  </wsdl:message>
  <wsdl:message name="update_TabBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:update_TabBalance" />
  </wsdl:message>
  <wsdl:message name="update_TabBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:update_TabBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="select_TabBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:select_TabBalance" />
  </wsdl:message>
  <wsdl:message name="select_TabBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:select_TabBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="count_TabBalanceSoapIn">
    <wsdl:part name="parameters" element="tns:count_TabBalance" />
  </wsdl:message>
  <wsdl:message name="count_TabBalanceSoapOut">
    <wsdl:part name="parameters" element="tns:count_TabBalanceResponse" />
  </wsdl:message>
  <wsdl:message name="create_TabLoanRepaySoapIn">
    <wsdl:part name="parameters" element="tns:create_TabLoanRepay" />
  </wsdl:message>
  <wsdl:message name="create_TabLoanRepaySoapOut">
    <wsdl:part name="parameters" element="tns:create_TabLoanRepayResponse" />
  </wsdl:message>
  <wsdl:message name="delete_TabLoanRepaySoapIn">
    <wsdl:part name="parameters" element="tns:delete_TabLoanRepay" />
  </wsdl:message>
  <wsdl:message name="delete_TabLoanRepaySoapOut">
    <wsdl:part name="parameters" element="tns:delete_TabLoanRepayResponse" />
  </wsdl:message>
  <wsdl:message name="select_TabLoanRepay_BySubIDSoapIn">
    <wsdl:part name="parameters" element="tns:select_TabLoanRepay_BySubID" />
  </wsdl:message>
  <wsdl:message name="select_TabLoanRepay_BySubIDSoapOut">
    <wsdl:part name="parameters" element="tns:select_TabLoanRepay_BySubIDResponse" />
  </wsdl:message>
  <wsdl:message name="update_TabLoanRepaySoapIn">
    <wsdl:part name="parameters" element="tns:update_TabLoanRepay" />
  </wsdl:message>
  <wsdl:message name="update_TabLoanRepaySoapOut">
    <wsdl:part name="parameters" element="tns:update_TabLoanRepayResponse" />
  </wsdl:message>
  <wsdl:message name="select_TabLoanRepaySoapIn">
    <wsdl:part name="parameters" element="tns:select_TabLoanRepay" />
  </wsdl:message>
  <wsdl:message name="select_TabLoanRepaySoapOut">
    <wsdl:part name="parameters" element="tns:select_TabLoanRepayResponse" />
  </wsdl:message>
  <wsdl:message name="count_TabLoanRepaySoapIn">
    <wsdl:part name="parameters" element="tns:count_TabLoanRepay" />
  </wsdl:message>
  <wsdl:message name="count_TabLoanRepaySoapOut">
    <wsdl:part name="parameters" element="tns:count_TabLoanRepayResponse" />
  </wsdl:message>
  <wsdl:message name="create_MoneyPoolSoapIn">
    <wsdl:part name="parameters" element="tns:create_MoneyPool" />
  </wsdl:message>
  <wsdl:message name="create_MoneyPoolSoapOut">
    <wsdl:part name="parameters" element="tns:create_MoneyPoolResponse" />
  </wsdl:message>
  <wsdl:message name="delete_MoneyPoolSoapIn">
    <wsdl:part name="parameters" element="tns:delete_MoneyPool" />
  </wsdl:message>
  <wsdl:message name="delete_MoneyPoolSoapOut">
    <wsdl:part name="parameters" element="tns:delete_MoneyPoolResponse" />
  </wsdl:message>
  <wsdl:message name="select_MoneyPoolSoapIn">
    <wsdl:part name="parameters" element="tns:select_MoneyPool" />
  </wsdl:message>
  <wsdl:message name="select_MoneyPoolSoapOut">
    <wsdl:part name="parameters" element="tns:select_MoneyPoolResponse" />
  </wsdl:message>
  <wsdl:message name="update_MoneyPoolSoapIn">
    <wsdl:part name="parameters" element="tns:update_MoneyPool" />
  </wsdl:message>
  <wsdl:message name="update_MoneyPoolSoapOut">
    <wsdl:part name="parameters" element="tns:update_MoneyPoolResponse" />
  </wsdl:message>
  <wsdl:message name="select_SubID_BySubNOSoapIn">
    <wsdl:part name="parameters" element="tns:select_SubID_BySubNO" />
  </wsdl:message>
  <wsdl:message name="select_SubID_BySubNOSoapOut">
    <wsdl:part name="parameters" element="tns:select_SubID_BySubNOResponse" />
  </wsdl:message>
  <wsdl:message name="get_Deal_Money_ByProjectIDAndCompanyIDSoapIn">
    <wsdl:part name="parameters" element="tns:get_Deal_Money_ByProjectIDAndCompanyID" />
  </wsdl:message>
  <wsdl:message name="get_Deal_Money_ByProjectIDAndCompanyIDSoapOut">
    <wsdl:part name="parameters" element="tns:get_Deal_Money_ByProjectIDAndCompanyIDResponse" />
  </wsdl:message>
  <wsdl:portType name="Service_FinanceManagementSoap">
    <wsdl:operation name="create_TabPayment">
      <wsdl:input message="tns:create_TabPaymentSoapIn" />
      <wsdl:output message="tns:create_TabPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delete_TabPayment">
      <wsdl:input message="tns:delete_TabPaymentSoapIn" />
      <wsdl:output message="tns:delete_TabPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="select_TabPayment_ByPID">
      <wsdl:input message="tns:select_TabPayment_ByPIDSoapIn" />
      <wsdl:output message="tns:select_TabPayment_ByPIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="update_TabPayment">
      <wsdl:input message="tns:update_TabPaymentSoapIn" />
      <wsdl:output message="tns:update_TabPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="select_TabPayment">
      <wsdl:input message="tns:select_TabPaymentSoapIn" />
      <wsdl:output message="tns:select_TabPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="count_TabPayment">
      <wsdl:input message="tns:count_TabPaymentSoapIn" />
      <wsdl:output message="tns:count_TabPaymentSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="create_CostAndReimburse">
      <wsdl:input message="tns:create_CostAndReimburseSoapIn" />
      <wsdl:output message="tns:create_CostAndReimburseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delete_TabCostAndReimburse">
      <wsdl:input message="tns:delete_TabCostAndReimburseSoapIn" />
      <wsdl:output message="tns:delete_TabCostAndReimburseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="select_TabCostAndReimburse_ByPID">
      <wsdl:input message="tns:select_TabCostAndReimburse_ByPIDSoapIn" />
      <wsdl:output message="tns:select_TabCostAndReimburse_ByPIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="update_TabCostAndReimburse">
      <wsdl:input message="tns:update_TabCostAndReimburseSoapIn" />
      <wsdl:output message="tns:update_TabCostAndReimburseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="select_TabCostAndReimburse">
      <wsdl:input message="tns:select_TabCostAndReimburseSoapIn" />
      <wsdl:output message="tns:select_TabCostAndReimburseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="count_TabCostAndReimburse">
      <wsdl:input message="tns:count_TabCostAndReimburseSoapIn" />
      <wsdl:output message="tns:count_TabCostAndReimburseSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="create_TabBalance">
      <wsdl:input message="tns:create_TabBalanceSoapIn" />
      <wsdl:output message="tns:create_TabBalanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delete_TabBalance">
      <wsdl:input message="tns:delete_TabBalanceSoapIn" />
      <wsdl:output message="tns:delete_TabBalanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="select_TabBalance_BySubID">
      <wsdl:input message="tns:select_TabBalance_BySubIDSoapIn" />
      <wsdl:output message="tns:select_TabBalance_BySubIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="update_TabBalance">
      <wsdl:input message="tns:update_TabBalanceSoapIn" />
      <wsdl:output message="tns:update_TabBalanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="select_TabBalance">
      <wsdl:input message="tns:select_TabBalanceSoapIn" />
      <wsdl:output message="tns:select_TabBalanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="count_TabBalance">
      <wsdl:input message="tns:count_TabBalanceSoapIn" />
      <wsdl:output message="tns:count_TabBalanceSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="create_TabLoanRepay">
      <wsdl:input message="tns:create_TabLoanRepaySoapIn" />
      <wsdl:output message="tns:create_TabLoanRepaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delete_TabLoanRepay">
      <wsdl:input message="tns:delete_TabLoanRepaySoapIn" />
      <wsdl:output message="tns:delete_TabLoanRepaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="select_TabLoanRepay_BySubID">
      <wsdl:input message="tns:select_TabLoanRepay_BySubIDSoapIn" />
      <wsdl:output message="tns:select_TabLoanRepay_BySubIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="update_TabLoanRepay">
      <wsdl:input message="tns:update_TabLoanRepaySoapIn" />
      <wsdl:output message="tns:update_TabLoanRepaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="select_TabLoanRepay">
      <wsdl:input message="tns:select_TabLoanRepaySoapIn" />
      <wsdl:output message="tns:select_TabLoanRepaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="count_TabLoanRepay">
      <wsdl:input message="tns:count_TabLoanRepaySoapIn" />
      <wsdl:output message="tns:count_TabLoanRepaySoapOut" />
    </wsdl:operation>
    <wsdl:operation name="create_MoneyPool">
      <wsdl:input message="tns:create_MoneyPoolSoapIn" />
      <wsdl:output message="tns:create_MoneyPoolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="delete_MoneyPool">
      <wsdl:input message="tns:delete_MoneyPoolSoapIn" />
      <wsdl:output message="tns:delete_MoneyPoolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="select_MoneyPool">
      <wsdl:input message="tns:select_MoneyPoolSoapIn" />
      <wsdl:output message="tns:select_MoneyPoolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="update_MoneyPool">
      <wsdl:input message="tns:update_MoneyPoolSoapIn" />
      <wsdl:output message="tns:update_MoneyPoolSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="select_SubID_BySubNO">
      <wsdl:input message="tns:select_SubID_BySubNOSoapIn" />
      <wsdl:output message="tns:select_SubID_BySubNOSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="get_Deal_Money_ByProjectIDAndCompanyID">
      <wsdl:input message="tns:get_Deal_Money_ByProjectIDAndCompanyIDSoapIn" />
      <wsdl:output message="tns:get_Deal_Money_ByProjectIDAndCompanyIDSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="Service_FinanceManagementSoap" type="tns:Service_FinanceManagementSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="create_TabPayment">
      <soap:operation soapAction="http://tempuri.org/create_TabPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_TabPayment">
      <soap:operation soapAction="http://tempuri.org/delete_TabPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select_TabPayment_ByPID">
      <soap:operation soapAction="http://tempuri.org/select_TabPayment_ByPID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_TabPayment">
      <soap:operation soapAction="http://tempuri.org/update_TabPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select_TabPayment">
      <soap:operation soapAction="http://tempuri.org/select_TabPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="count_TabPayment">
      <soap:operation soapAction="http://tempuri.org/count_TabPayment" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create_CostAndReimburse">
      <soap:operation soapAction="http://tempuri.org/create_CostAndReimburse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_TabCostAndReimburse">
      <soap:operation soapAction="http://tempuri.org/delete_TabCostAndReimburse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select_TabCostAndReimburse_ByPID">
      <soap:operation soapAction="http://tempuri.org/select_TabCostAndReimburse_ByPID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_TabCostAndReimburse">
      <soap:operation soapAction="http://tempuri.org/update_TabCostAndReimburse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select_TabCostAndReimburse">
      <soap:operation soapAction="http://tempuri.org/select_TabCostAndReimburse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="count_TabCostAndReimburse">
      <soap:operation soapAction="http://tempuri.org/count_TabCostAndReimburse" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create_TabBalance">
      <soap:operation soapAction="http://tempuri.org/create_TabBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_TabBalance">
      <soap:operation soapAction="http://tempuri.org/delete_TabBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select_TabBalance_BySubID">
      <soap:operation soapAction="http://tempuri.org/select_TabBalance_BySubID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_TabBalance">
      <soap:operation soapAction="http://tempuri.org/update_TabBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select_TabBalance">
      <soap:operation soapAction="http://tempuri.org/select_TabBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="count_TabBalance">
      <soap:operation soapAction="http://tempuri.org/count_TabBalance" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create_TabLoanRepay">
      <soap:operation soapAction="http://tempuri.org/create_TabLoanRepay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_TabLoanRepay">
      <soap:operation soapAction="http://tempuri.org/delete_TabLoanRepay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select_TabLoanRepay_BySubID">
      <soap:operation soapAction="http://tempuri.org/select_TabLoanRepay_BySubID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_TabLoanRepay">
      <soap:operation soapAction="http://tempuri.org/update_TabLoanRepay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select_TabLoanRepay">
      <soap:operation soapAction="http://tempuri.org/select_TabLoanRepay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="count_TabLoanRepay">
      <soap:operation soapAction="http://tempuri.org/count_TabLoanRepay" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create_MoneyPool">
      <soap:operation soapAction="http://tempuri.org/create_MoneyPool" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_MoneyPool">
      <soap:operation soapAction="http://tempuri.org/delete_MoneyPool" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select_MoneyPool">
      <soap:operation soapAction="http://tempuri.org/select_MoneyPool" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_MoneyPool">
      <soap:operation soapAction="http://tempuri.org/update_MoneyPool" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select_SubID_BySubNO">
      <soap:operation soapAction="http://tempuri.org/select_SubID_BySubNO" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Deal_Money_ByProjectIDAndCompanyID">
      <soap:operation soapAction="http://tempuri.org/get_Deal_Money_ByProjectIDAndCompanyID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="Service_FinanceManagementSoap12" type="tns:Service_FinanceManagementSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="create_TabPayment">
      <soap12:operation soapAction="http://tempuri.org/create_TabPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_TabPayment">
      <soap12:operation soapAction="http://tempuri.org/delete_TabPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select_TabPayment_ByPID">
      <soap12:operation soapAction="http://tempuri.org/select_TabPayment_ByPID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_TabPayment">
      <soap12:operation soapAction="http://tempuri.org/update_TabPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select_TabPayment">
      <soap12:operation soapAction="http://tempuri.org/select_TabPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="count_TabPayment">
      <soap12:operation soapAction="http://tempuri.org/count_TabPayment" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create_CostAndReimburse">
      <soap12:operation soapAction="http://tempuri.org/create_CostAndReimburse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_TabCostAndReimburse">
      <soap12:operation soapAction="http://tempuri.org/delete_TabCostAndReimburse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select_TabCostAndReimburse_ByPID">
      <soap12:operation soapAction="http://tempuri.org/select_TabCostAndReimburse_ByPID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_TabCostAndReimburse">
      <soap12:operation soapAction="http://tempuri.org/update_TabCostAndReimburse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select_TabCostAndReimburse">
      <soap12:operation soapAction="http://tempuri.org/select_TabCostAndReimburse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="count_TabCostAndReimburse">
      <soap12:operation soapAction="http://tempuri.org/count_TabCostAndReimburse" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create_TabBalance">
      <soap12:operation soapAction="http://tempuri.org/create_TabBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_TabBalance">
      <soap12:operation soapAction="http://tempuri.org/delete_TabBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select_TabBalance_BySubID">
      <soap12:operation soapAction="http://tempuri.org/select_TabBalance_BySubID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_TabBalance">
      <soap12:operation soapAction="http://tempuri.org/update_TabBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select_TabBalance">
      <soap12:operation soapAction="http://tempuri.org/select_TabBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="count_TabBalance">
      <soap12:operation soapAction="http://tempuri.org/count_TabBalance" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create_TabLoanRepay">
      <soap12:operation soapAction="http://tempuri.org/create_TabLoanRepay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_TabLoanRepay">
      <soap12:operation soapAction="http://tempuri.org/delete_TabLoanRepay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select_TabLoanRepay_BySubID">
      <soap12:operation soapAction="http://tempuri.org/select_TabLoanRepay_BySubID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_TabLoanRepay">
      <soap12:operation soapAction="http://tempuri.org/update_TabLoanRepay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select_TabLoanRepay">
      <soap12:operation soapAction="http://tempuri.org/select_TabLoanRepay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="count_TabLoanRepay">
      <soap12:operation soapAction="http://tempuri.org/count_TabLoanRepay" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="create_MoneyPool">
      <soap12:operation soapAction="http://tempuri.org/create_MoneyPool" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="delete_MoneyPool">
      <soap12:operation soapAction="http://tempuri.org/delete_MoneyPool" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select_MoneyPool">
      <soap12:operation soapAction="http://tempuri.org/select_MoneyPool" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="update_MoneyPool">
      <soap12:operation soapAction="http://tempuri.org/update_MoneyPool" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="select_SubID_BySubNO">
      <soap12:operation soapAction="http://tempuri.org/select_SubID_BySubNO" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="get_Deal_Money_ByProjectIDAndCompanyID">
      <soap12:operation soapAction="http://tempuri.org/get_Deal_Money_ByProjectIDAndCompanyID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service_FinanceManagement">
    <wsdl:port name="Service_FinanceManagementSoap" binding="tns:Service_FinanceManagementSoap">
      <soap:address location="http://localhost:48841/Service/FinanceManagement/Service_FinanceManagement.asmx" />
    </wsdl:port>
    <wsdl:port name="Service_FinanceManagementSoap12" binding="tns:Service_FinanceManagementSoap12">
      <soap12:address location="http://localhost:48841/Service/FinanceManagement/Service_FinanceManagement.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>